<mat-grid-list cols="5" rowHeight="100%">
    <mat-grid-tile>        
        <mat-card class="example-card">
            <mat-card-header>
                <mat-card-title>{{userDetails.user.firstName}} {{userDetails.user.lastName}}</mat-card-title>
                <mat-card-subtitle>{{userDetails.user.email}}</mat-card-subtitle>
            </mat-card-header>

            <mat-card-content>
                <div class="image-cropper">
                    <span class="user-badge">{{userDetails.user.userType}}</span>
                    <img mat-card-image class="rounded" [src]="this.localUrl || userDetails.picture?.url"
                        alt="Profile picture">
                </div>
            </mat-card-content>

            <mat-card-footer>
                <h2>{{userDetails.user.displayName}}</h2>
            </mat-card-footer>

            <mat-card-actions>
                <input #inputFile hidden type="file" accept="image/png, image/jpeg" (change)="onFileSelected($event);">
                <button mat-button color="primary" (click)="inputFile.click()">Change picture</button>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile colspan="4">
        <router-outlet></router-outlet>
    </mat-grid-tile>
</mat-grid-list>