/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.container {
    width: 50%;
    margin: auto;
}

.container-narrow {
    width: 20%;
    margin: auto;
}

.fx-column {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.fx-row {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.fx-center {
    justify-content: center;
}

.fx-right {
    justify-content: right;
}

mat-tab-body {
    margin-top: 25px;
}

.flex-auto {
    flex: auto;
}

.active-link {
    background-color: brown;
}

::ng-deep .mat-form-field-infix {
    height: 25px;
    font-size: 12px;
}